<div>
    <h1>Dashboard</h1>
</div>
<div class="text-light bg-secondary form">
    <form class="blog">
        <input id="title" name="title" type="text" placeholder="Blog Title">
        <input type="text" name="userpost_content" id="content" placeholder="Blog Post">
        <button id="btn primary " type="submit">Submit</button>
    </form>
</div>

<div id="post" >
  <a href="/post/{{userPost}}"> 
  {{#each posts}}

    <div  class="container bg-dark text-light mb-4">
        <h2>{{title }}</h2>{{date_created}}

        <p>
            {{userpost_content}}
        </p>
        <p>
            {{usercomment_text}}
        </p>
    </div>
    {{/each}}
</div></a> 
<div>

    {{!-- <button class="btn btn-info commentbtn" id="btn">Add a Comment</button>

    <div>
        <form class="new-comment">
            <input type="text" name="usercomment_text" id="user-comment" placeholder="Comment">
            <button id="btn primary " type="submit">Submit</button>
        </form>
    </div> --}}

</div>
<Script src="/js/dashboard.js" src="/controllers/homeRoutes.js"> </Script>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{{!-- fix post structure --}}
<style>
    .container {
        border: 5px black solid;
    }

    .form {
        border-bottom: black 3px solid;
        margin-bottom: 6px;
    }
</style>