<h3> Posts </h3>
<div>
  {{#each posts }}
  <div "row mb-2 p-2">
    <div class="row align-top mb-2">
      <div class="container bg-dark text-light m-4">
        <span class="post-title ">
          <div class="home-h2 row d-flex justify-content-between bg-black">
            <h2 class="ml-2">{{user.name}}</h2>
            <label class="date mr-2" for="post-time">{{date_created}}</label>
          </div>

          <h2 id="post-contents title">
            <a href="/post/{{id}}">
              {{title}}
            </a>
          </h2>

          <div class="comment-container bg-black mb-5">
            <h5 class=" ">Comments</h5>
            <div class="container-c m-2 bg-dark ">
              {{#each comments as |comment| }}

              </h6 class="bg-black mr-5">
              {{comment.user.name}}
              <h6>


                <p>{{comment.text}}</p>
                {{/each}}
            </div>
            <div>

        </span>
      </div>
    </div>
  </div>

  {{/each}}
</div>


{{!-- <div class=" posts-container ">
  <div class="row mb-5">
  </div>
  <div class="row align-top mb-5">
    <div class="col-md-6">
      <h2>{{user.name}} </h2>{{date_created}}
    </div>

    <div class="col-md-6">
      <h3><a class="bg-secondary text-white" href="./post.handlebars">{{userPost.id}}</a></h3>
      <h2 class="postTitle" href="./post.handlebars">{{title}}</h2>
      {{!-- <p>
        {{userpost_content}}
      </p> --}}
      {{!--
    </div>
  </div> --}}



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="/controllers/homeRoutes.js"></script>
  <script src="/public/js/post.js"></script>

  <style>
    .container {
      border: black solid 5px;
    }

    .date {
      justs;
    }

    .comment-container {
      border: black solid 3px;
    }
    .container-c{
      border: black solid 3px;
   
    }
  </style>