<div class="userPost">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{userPost.title}}</h2>
      <div>
        userPost Created: {{date_created}} by {{userPost.User.name}} 
      </div>
    </div>
    <div class="card-body">
      {{userPost.body}}
    </div>
  </article>

  {{#if userPost.userpost_content}}
    <section class="card">
      <div class="card-header">
        <h3>userpost_content</h3>
      </div>

      <div class="card-body">
        {{#each userPost.userpost_content}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.name}}, {{date_created}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="userPost-id" value="{{userPost.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/models/userPost.js"></script>

{{!-- make post clickable to render this handle bar --}}